<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgp.bank.mapper.AdministratorMapper">

    <select id="selectByName" resultType="entity.Administrator">
        SELECT * FROM administrator WHERE administrator_name = #{name}
    </select>
</mapper>
